@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For hsl(198deg 93% 60% / <alpha-value>) */
    /*  Primary  */
    --soft-orange: 35deg 77% 62%;
    --soft-red: 5deg 85% 63%;

    /*  Neutral  */
    --off-white: 36deg 100% 99%;
    --grayish-blue: 233deg 8% 79%;
    --dark-grayish-blue: 236deg 13% 42%;
    --very-dark-blue: 240deg 100% 5%;
  }
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter-VariableFont_slnt,wght.ttf");
}
